*.wav
*.o
*.out
*~
*.exe

simple

sheets/temp.wmusic

.venv/

# Python cache files
scripts/__pycache__/
__pycache__/
*.py[cod]

# Ruff stuff
.ruff_cache/

# Complied extension modules
*.so
*.pyd
*.dll

# Build artifacts
build/
dist/
*.egg-info/